.ASign{
    height: 100vh;
    position :fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 100px;
    z-index: 10000;
    /* display: none; */
}
.ASign form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topAD{
    display: flex;
    gap: 50px;
}
.usersAdd{
    zoom: 80%;
}
.userTotal{
    height:250px;
    width:600px;
    background: white;
    padding: 50px;
    border-radius: 20px;
}
.refCoi{
    border-radius: 20px;
    background: #fff;
    padding: 30px 50px;
}
.othersdout{
    padding: 20px;
}
.headUse{
    background: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    zoom: 80%;
    align-items: center;
    transition: .5s;
}
.bind:hover{
    background: rgb(227, 227, 227);
    transition: 1s;
    padding: 30px 40px;
    border-radius: 20px;
    /* zoom: 90%; */
    
}
.headUse p{
    width: 280px;
    font-size: 1.2rem;
    overflow: hidden;
    padding: 10px;
}
.nom{
    width: 0;

}
.ADus{
    background: red;
}
.ADusd{
    background: green;
}
.usersSection{
    margin-top: 20px;
}
.usersSection .von{
    padding: 20px;
    color: white;
}


.userTotalp{
    height:250px;
    width:600px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    display: none;
}
.ustoTop{
    display: flex;
    align-items: center;
    gap: 30px
}
.Uselogo{
    height: 70px;
    width: 70px;
    background: gray;
    border-radius: 20px;
}
.quickIn{
    zoom: 70%;
}
.usetoBon{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    zoom: 80%;
    gap: 30px;
}
.conts{
    width: 200px;
}
.conts h1{
    font-size: 3rem;
}
.pinf{
    text-align:  right;
    padding-bottom: 10px;
}
.workc{
    display: flex;
    flex-direction: column;
}
.headUse div{
    font-size: 1.3rem;
}

@media screen and (max-width: 500px) {
    .ustoTop {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        zoom: 80%;
        text-align: center;
    }
    .userTotal{
    height:fit-content;
    width:100%;
    background: white;
    padding: 50px;
    border-radius: 20px;
    zoom: 90%;
}
.topAD {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.userTotalp {
    height: fit-content;
    width: 100%;
}
.usetoBon {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    zoom: 90%;
    gap: 30px;
}
.usebond{
    display: none;
}
.workc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    zoom: 130%
}
.ASign{
    height: 120vh;
    position :fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 100px;
    z-index: 10000;
    /* display: none; */
}
.nomw{
    display: none;
}
}