.dashboard{
    background-color: black;
    /* overflow: hidden; */
    /* zoom : 80%; */

}
.dnav{
    padding: 20px 70px;
    zoom: 85%;
}
.dnav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dnav-wrap p{
    color:white;
}
.dnav-wrap img{
    width: 40px;
}
.userdbox{
    height: 50px;
    width: 50px;
    background: white;
    border-radius: 1000000px
}

.dbottom{
    display: flex;
    gap: 40px;
}
.sided{
    width: 17vw;
    height: calc(100vh - 119px);
}
.sNanv, .dindex{
    color: white;
}
.othersdout{
    width:78vw;
}
.sNanv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    zoom: 80%;
    padding: 70px 0px 20px 60px;
}
.sidbottom{
    margin-top: 50vh;
}
.navsDD{
    display: flex;
    align-items: center;
    gap: 25px;
    opacity: .7;
}

.navsDD:hover{
    opacity: 1;
}
.navsDD p{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}
.navsDD:hover p{
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
}
.ddnavBox{
    height:35px;
    width:35px;
    background: white;
    border-radius: 10px;
}

.ddactive{
    opacity: 1;
}
.Sidedd p, .Sidedd h1 {
    color: white;
}

.dindex{
    padding: 30px 50px;
    display: flex;
    gap: 120px;
}
.ddboxAA{
    margin-top: 100px;
    border-radius: 20px;
    height: 300px;
    width: 600px;
    background: white;
}


.buttonsDD{
    margin-top: 40px;
    display: flex;
    gap : 30px;
}
.bin {
    background: black;
}

.userbaxRef p, .userbaxRef h1{
    color:white;
    
}
.ddref{
    background: orange;
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    margin-bottom: 40px;
}
.ddef{
    background: rgb(0, 174, 255);
    border-radius: 20px;
    padding: 40px;
    width: 300px;
    margin-bottom: 40px;
}
.ddef:hover{
    background: rgba(45, 188, 255, 0.881);
    transition: 1s;
}
.ddBox{
    zoom: 80%;
    width: 500px;
    border-radius: 30px;
    padding: 60px 50px;
    background: white;
}

.ddBox h1, .ddBox p{
    color: black;
}

.AmountBox{
    display: flex;
    gap: 50px;
    margin-top: 80px;
    /* background: pink; */
}
.othBB{
    padding: 50px 40px;
    background: #5565FF;
    border-radius: 30px;
    zoom: 90%;
    width: 250px;

}
.pin{
    font-size: 2rem;
    opacity: .8;
}

.bon{
    font-size: 3rem;
}